body {
  font-family: 'Roboto', sans-serif; }

body::-webkit-scrollbar {
  width: 0; }

.menu-btn {
  display: block;
  position: relative;
  width: 32px;
  height: 29px;
  background-color: transparent;
  margin-bottom: 64px; }
  .menu-btn > span, .menu-btn > span::after, .menu-btn > span::before {
    margin-left: -16px;
    left: 50%;
    margin-top: -1.5px;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: #3a4245;
    transition: 0.2s; }
  .menu-btn > span::after, .menu-btn > span::before {
    content: ''; }
  .menu-btn > span::after {
    transform: translateY(13px); }
  .menu-btn > span::before {
    transform: translateY(-13px); }
  @media (max-width: 1024px) {
    .menu-btn {
      margin-bottom: 30px; } }

.menu-btn_active span::before {
  transform: rotate(35deg) translateX(12px) translateY(-7px);
  width: 20px;
  transform-origin: right top; }

.menu-btn_active span::after {
  transform: rotate(-35deg) translateX(12px) translateY(7px);
  width: 20px;
  transform-origin: right bottom; }

.menu-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.menu-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 3px;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: left center; }

.menu-nav_active {
  opacity: 1;
  transform: scaleX(1); }

.menu-nav__link {
  font-size: 20px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: black !important; }
  @media (max-width: 435px) {
    .menu-nav__link {
      font-size: 16px; } }

.menu-nav__link::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #3a4245;
  transition: 0.2s; }

.menu-nav__link:hover::before {
  width: 100%; }

h2 {
  font-size: 45px; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 35px; } }

h3 {
  font-size: 42px; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 32px; } }

h4 {
  font-size: 40px; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 30px; } }

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px; }
  h2 span, h3 span, h4 span {
    font-weight: 900; }
    h2 span.span, h3 span.span, h4 span.span {
      display: block; }
      @media (max-width: 750px) {
        h2 span.span, h3 span.span, h4 span.span {
          display: inline; } }
      @media (max-width: 435px) {
        h2 span.span, h3 span.span, h4 span.span {
          display: block; } }
  @media (max-width: 520px) {
    h2, h3, h4 {
      font-size: 25px; } }
  @media (min-width: 1450px) {
    h2, h3, h4 {
      text-align: center; } }

.grid-item-blue > h2:not(:first-child) {
  margin-top: 80px; }
  @media (max-width: 1024px) {
    .grid-item-blue > h2:not(:first-child) {
      margin-top: 40px; } }

p {
  font-size: 15.57px;
  line-height: 28px;
  margin-bottom: 0;
  max-width: 555px;
  margin-right: 10px; }
  @media (max-width: 1024px) {
    p {
      font-size: 13px;
      line-height: 22px; } }
  @media (max-width: 750px) {
    p {
      max-width: inherit; } }
  @media (max-width: 1024px) {
    p {
      line-height: 19px; } }
  @media (min-width: 1450px) {
    p {
      max-width: 100%; } }

a, input, textarea {
  font-size: 16.57px; }
  @media (max-width: 1024px) {
    a, input, textarea {
      font-size: 13px; } }

.grid-item-black a, .grid-item-beige a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 40px;
  margin-top: 54px; }

.grid-item-black a:hover, .grid-item-beige a:hover {
  opacity: 0.7; }

.grid-item-beige a {
  color: black;
  border: 1px solid black; }

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1450px) {
    .form {
      margin: 0 auto; } }

.form input, .form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 17px 15px;
  color: #fff;
  box-sizing: border-box; }

.form textarea {
  width: 100%;
  height: 158px; }

.form input {
  width: 48%; }

@media (min-width: 1450px) {
  .contacts {
    margin: 0 auto; } }

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff; }

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #fff; }

.form input:-moz-placeholder, .form textarea:-moz-placeholder {
  color: #fff; }

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #fff; }

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b" "c c c c d d d d d" "c c c c e e e e e" "f f f g g g g g g"; }
  @media (max-width: 750px) {
    .grid {
      grid-template-areas: "a" "b" "c" "d" "e" "f" "g"; } }

.grid-item-bg {
  background-image: url("img/bg.jpg");
  grid-area: a; }
  @media (max-width: 750px) {
    .grid-item-bg {
      display: none; } }

.grid-item-gray {
  background-color: #f3f3f3;
  grid-area: b;
  padding-left: 54px;
  padding-top: 57px;
  padding-bottom: 89px; }
  @media (max-width: 1024px) {
    .grid-item-gray {
      padding-left: 27px;
      padding-top: 27px;
      padding-bottom: 40px; } }

.grid-item-blue {
  background-image: url("img/bg-blue.jpg");
  grid-area: c; }

.grid-item-beige {
  background-image: url("img/bg-beige.jpg");
  grid-area: d; }

.grid-item-black {
  background-image: url("img/bg-black.jpg");
  grid-area: e; }

.grid-item-human {
  background-image: url("img/bg-human.jpg");
  grid-area: f;
  min-height: 715px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 1024px) {
    .grid-item-human {
      min-height: inherit; } }

.form-container {
  width: 100%; }
  @media (max-width: 1170px) {
    .form-container {
      margin-right: 10px; } }

.design-by {
  width: 100%; }

.grid-item-green {
  background-image: url("img/bg-green.jpg");
  grid-area: g;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }

.grid-item-bg, .grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-beige, .grid-item-black {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-black {
  color: #fff; }

.grid-item-human, .grid-item-green, .grid-item-beige, .grid-item-blue, .grid-item-black {
  padding-top: 71px;
  padding-left: 54px;
  padding-bottom: 80px; }
  @media (max-width: 1024px) {
    .grid-item-human, .grid-item-green, .grid-item-beige, .grid-item-blue, .grid-item-black {
      padding-top: 35px;
      padding-left: 27px;
      padding-bottom: 40px; } }

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start; }
  .list > li {
    margin-right: 10px; }
    .list > li > a {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 45px;
      height: 45px;
      display: block;
      margin-top: 0;
      border-radius: 10px; }
      .list > li > a.list-fb {
        background-image: url("img/facebook.svg"); }
      .list > li > a.list-dr {
        background-image: url("img/dribbble.svg"); }
      .list > li > a.list-tw {
        background-image: url("img/twitter.svg"); }

.logo {
  display: block;
  width: 90px;
  height: 90px;
  margin-bottom: 34px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (max-width: 1024px) {
    .logo {
      width: 65px;
      height: 65px;
      margin-bottom: 17px; } }

.grid-item-human > div > h3 {
  margin-bottom: 17px; }
  @media (max-width: 1024px) {
    .grid-item-human > div > h3 {
      margin-bottom: 9px; } }
