body {
  font-family: 'Roboto', sans-serif; }

button {
  display: inline-block;
  background-image: url("img/menu.svg");
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none;
  margin-bottom: 64px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 40px; }

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px; }
  h2 span, h3 span, h4 span {
    font-weight: 900; }
    h2 span.span, h3 span.span, h4 span.span {
      display: block; }

.grid-item-blue > h2:not(:first-child) {
  margin-top: 80px; }

p {
  font-size: 15.57px;
  line-height: 28px;
  margin-bottom: 0;
  max-width: 555px; }

a, input, textarea {
  font-size: 16.57px; }

.grid-item-black a, .grid-item-beige a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 40px;
  margin-top: 54px; }

.grid-item-beige a {
  color: black;
  border: 1px solid black; }

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.form input, .form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 17px 15px;
  color: #fff;
  box-sizing: border-box; }

.form textarea {
  width: 100%;
  height: 158px; }

.form input {
  width: 48%; }

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff; }

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #fff; }

.form input:-moz-placeholder, .form textarea:-moz-placeholder {
  color: #fff; }

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #fff; }

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b" "c c c c d d d d d" "c c c c e e e e e" "f f f g g g g g g"; }

.grid-item-bg {
  background-image: url("img/bg.jpg");
  grid-area: a; }

.grid-item-gray {
  background-color: #f3f3f3;
  grid-area: b;
  padding-left: 54px;
  padding-top: 57px;
  padding-bottom: 89px; }

.grid-item-blue {
  background-image: url("img/bg-blue.jpg");
  grid-area: c; }

.grid-item-beige {
  background-image: url("img/bg-beige.jpg");
  grid-area: d; }

.grid-item-black {
  background-image: url("img/bg-black.jpg");
  grid-area: e; }

.grid-item-human {
  background-image: url("img/bg-human.jpg");
  grid-area: f;
  min-height: 715px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }

.form-container {
  width: 100%; }

.design-by {
  width: 100%; }

.grid-item-green {
  background-image: url("img/bg-green.jpg");
  grid-area: g;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }

.grid-item-bg, .grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-beige, .grid-item-black {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-black {
  color: #fff; }

.grid-item-human, .grid-item-green, .grid-item-beige, .grid-item-blue, .grid-item-black {
  padding-top: 71px;
  padding-left: 54px;
  padding-bottom: 80px; }

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start; }
  .list > li {
    margin-right: 10px; }
  .list > li > a {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    margin-top: 0;
    border-radius: 10px; }
    .list > li > a.list-fb {
      background-image: url("img/facebook.svg"); }
    .list > li > a.list-dr {
      background-image: url("img/dribbble.svg"); }
    .list > li > a.list-tw {
      background-image: url("img/twitter.svg"); }

.logo {
  display: block;
  width: 90px;
  border-radius: 10px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center center; }
