body {
  font-family: 'Roboto', sans-serif; }

button {
  display: inline-block;
  background-image: url("img/menu.svg");
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 40px; }

h2, h3, h4 {
  font-weight: 200;
  margin-top: 0; }
  h2 span, h3 span, h4 span {
    font-weight: 900; }

p {
  font-size: 15.57px;
  line-height: 28px;
  margin-bottom: 0; }

a, input, textarea {
  font-size: 16.57px; }

.grid-item-black a, .grid-item-beige a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 40px; }

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.form input, .form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
  color: #fff;
  box-sizing: border-box; }

.form textarea {
  width: 100%; }

.form input {
  width: 48%; }

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #fff; }

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #fff; }

.form input:-moz-placeholder, .form textarea:-moz-placeholder {
  color: #fff; }

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #fff; }

.grid-item-bg {
  background-image: url("img/bg.jpg"); }

.grid-item-gray {
  background-color: #f3f3f3; }

.grid-item-blue {
  background-image: url("img/bg-blue.jpg"); }

.grid-item-beige {
  background-image: url("img/bg-beige.jpg"); }

.grid-item-black {
  background-image: url("img/bg-black.jpg"); }

.grid-item-human {
  background-image: url("img/bg-human.jpg"); }

.grid-item-green {
  background-image: url("img/bg-green.jpg"); }

.grid-item-bg, .grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-beige, .grid-item-black {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.grid-item-human, .grid-item-green, .grid-item-blue, .grid-item-black {
  color: #fff; }

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start; }
  .list > li {
    margin-right: 10px; }
  .list > li > a {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    border: none; }
    .list > li > a.list-fb {
      background-image: url("img/facebook.svg"); }
    .list > li > a.list-dr {
      background-image: url("img/dribbble.svg"); }
    .list > li > a.list-tw {
      background-image: url("img/twitter.svg"); }

.logo {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("img/logo.png");
  background-repeat: no-repeat; }

.grid {
  display: grid;
  grid-template-areas: "a a a a a a b b b" "c c c c d d d d d" "c c c c e e e e e" "f f f g g g g g g"; }

.grid-item-bg {
  grid-area: a; }

.grid-item-gray {
  grid-area: b; }

.grid-item-blue {
  grid-area: c; }

.grid-item-beige {
  grid-area: d; }

.grid-item-black {
  grid-area: e; }

.grid-item-human {
  grid-area: f; }

.grid-item-green {
  grid-area: g; }
